body {
  /* background: #ccc; */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

body, html {
  height: 100%;
}

.bar {
  fill: #aaa;
  height: 21px;
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}

.bar text {
  fill: #555;
}

.chart {
  width: 350px;
  height: 100px;
  border-left: 1px dotted #555;
  border-bottom: 1px dotted #555;
}

.chart:hover .bar,
.chart:focus .bar {
  fill: #aaa;
}

.bar:hover,
.bar:focus {
  fill: #1BA68E !important;
}

.bar:hover text,
.bar:focus text {
  fill: #1BA68E;
}

figcaption {
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}
